body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
  color:#fff;
}
button{
  background-color: #555;
  color: #fff;
  padding: 20px 45px;
  border-radius: 20%;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
}
button:hover{
  color: #00ddff;
  background-color: #222;
  border: 2px solid #00ddff;
}